{% extends "index.html" %}
{% load i18n %}
{% block scripts %}
    $(document).ready(function(){
        load_js({{ instance.id }});
    });
{% endblock %}
{% block script_import %}<script type="application/javascript" src="/static/js/ajax_csrf.js"></script>{% endblock %}
{% block titulo %} {% trans 'Evaluate Instance' %} {% endblock %}
{% block contenido %}
    <div class="page-header">
        <h1>{% trans "Audit realization " %} {{ tag.name }}</h1></div>

    <form class="form-inline col-lg-3" id="tag-filter" role="form">
         <div class="form-group">
            <label for="search">{% trans 'Tag' %}:</label>
            <input type="input" class="form-control" id="search">
         </div>
         <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
    </form>
    <div class="text-right"><a href="{% url 'audit_details' instance.audit.id%}" class="btn btn-default" role="button">
        {% trans 'Back' %}</a></div>
    <div class="clearfix"></div>
    {% for result in results %}
        <div class="panel panel-default">
            <div class="panel-heading text-center"><b>{% trans 'Name' %}: </b>{{ result.item.name }}
            <b>{% trans 'Question' %}: </b>{{ result.item.question }}
            <b>{% trans 'Obligatory' %}: </b>{{ result.item.obligatory|lower|capfirst }}
                <div class="text-center"><span class="label label-primary">{{ result.item.tag }}</span></div></div>
            <div class="panel-body">
                <form id='result-form' name="{{ result.id }}" class="form-horizontal text-center">
                    <div class="form-group">
                    <table class="table-responsive table-center">
                    {% for answer in result.item.answer_set.all %}
                        <tr><td class="text-right">
                        <input type="radio" name="answers" value="{{ answer.id }}"
                        {% if answer == result.answer %}
                            checked="checked"
                        {% endif %}
                        > </td><td class="text-left">&nbsp;{{ answer.name }}</td></tr>
                    {% endfor %}
                        </table></div>
                    <input type="submit" class="btn btn-default">
                </form>
            </div>
        </div>
        {% empty %}
            <div class="text-center"><p>{% trans "Sorry, the tag you are looking for don't have items in this instance" %}</p></div>
    {% endfor %}
{% endblock %}