{% extends "index.html" %}
{% load i18n %}
{% block scripts %}
    $("a").css('cursor','pointer');
    $(document).ready(function(){
        load_js({{ audit.id }});
    });
{% endblock %}
{% block style_css %}<link rel="stylesheet" type="text/css" href="/static/css/custom.css">{% endblock %}
{% block script_import %}<script type="application/javascript" src="/static/js/ajax_csrf.js"></script> {% endblock %}
{% block titulo %} {%  trans "Audit's details" %} {% endblock %}

{% block contenido %}
    <div class="page-header"><h1>{%  trans "Audit's details" %}
        {% if audit.state == 'INACTIVE' and perms.auth.gestor %}
            <a class="normal-link" href="{% url 'edit_audit' audit.id %}">
            <span class="glyphicon glyphicon-pencil header-gli"></span></a>
            &nbsp;<a class="normal-link" href='' id="delete-audit">
            <span class="glyphicon glyphicon-remove header-gli"></span></a>
        {% endif %}
    </h1></div>
    <fieldset class="scheduler-border">
    <legend class="scheduler-border">{% trans "Properties" %}</legend>
        <div class="col-lg-12"><label class="col-lg-6 text-right">{% trans "Name" %}:</label> <div class="col-lg-6 text-left">{{ audit.name }}</div></div>
        <div class="col-lg-12"><label class="col-lg-6 text-right">{% trans "Description" %}:</label>  <div class="col-lg-6 text-left">{{ audit.description|default:'-' }}</div></div>
        <div class="col-lg-12"><label class="col-lg-6 text-right">{% trans "Creation Date" %}:</label>  <div class="col-lg-6 text-left">{{ audit.creation_date }}</div></div>
        <div class="col-lg-12"><label class="col-lg-6 text-right">{% trans "Start Date" %}:</label>  <div class="col-lg-6 text-left">{{ audit.start_date }}</div></div>
        <div class="col-lg-12"><label class="col-lg-6 text-right">{% trans "Tags" %}:</label>
        {% for tag in audit.tags.all %}
            {% if forloop.first %}<div class="col-lg-6 text-left">{% endif %}
                </label><span class="label label-primary">{{ tag }}</span>
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}
        </div>
        <div class="col-lg-12"><label class="col-lg-6 text-right">{% trans "State" %}:</label> <div class="col-lg-6 text-left">{% trans audit.state %}</div></div>
    </fieldset>

    <fieldset class="scheduler-border">
    <legend class="scheduler-border">{% trans "Instances" %}&nbsp;
        {% if user == audit.usuario or user == audit.auditor and audit.state == 'ACTIVE' and start_instance == 0 %}
            <a href="{% url 'create_instance' audit.id %}" class="btn btn-primary btn-xs">{% trans "New Instance"%}</a>
        {% endif %}

    </legend>
        <div class="table-responsive">
            {% for instance in instances %}
                {% if forloop.first %}
                    <table class="table">
            <thead>
                <tr>
                    <th>{% trans 'Date'%}</th>
                    <th>{% trans 'Item number' %}</th>
                    <th>{% trans 'State' %}</th>
                    <th>{% trans 'Level' %}</th>
                    <th>{% trans 'Options' %}</th>
                </tr>
            </thead>
                <tbody>
                {% endif %}
              <tr>
                <td>{{ instance.date }}</td>
                <td>{{ instance.items.count }}</td>
                <td>{% trans instance.state %}</td>
                <td>{% trans instance.level %}</td>
                <td>{% if instance.audit.usuario == user or instance.audit.auditor == user%}
                    {% if instance.state == 'STARTED' %}
                    <a  href="{% url 'evaluate_instance' instance.id %}">{% trans "Evaluate" %}</a>&nbsp;
                    <a  href="{% url 'finish_instance' instance.id %}">{% trans "Finish" %}</a>
                    {% elif instance.state == 'FINISHED' and instance.audit.auditor == user%}
                        <a  href="{% url 'view_evaluation' instance.id%}">{% trans "View Evaluation" %}</a>
                    {% else %}
                        -
                    {% endif %}
                    {% else %}
                        -
                {% endif %}

                </td>
              </tr>

            {% empty %}
             <div class="col-lg-12 text-center">{% trans "No Instances" %}</div>
        {% endfor %}
            </tbody>
        </table>
        </div>

    {% if instances.paginator.num_pages != 1 %}
        <div class="col-md-12 text-center">
    <ul class="pagination">
     {% if instances.has_previous %}
            <li><a href="?page={{ instances.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><a href="#">&laquo;</a></li>
     {% endif %}
      <li><a>Page {{ instances.number }} of {{ instances.paginator.num_pages }}.</a></li>
      {% if instances.has_next %}
            <li><a href="?page={{ instances.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
    </ul>
        </div>
    {% endif %}


    </fieldset>

    {% if perms.auth.gestor %}
    <div class="col-lg-12 text-center">
        {% if audit.state == 'INACTIVE' %}
            <a href="{% url 'change_audit_state' audit.id %}?page={{ pageb }}" class="btn btn-default" role="button">
            {% trans 'Change state to Active' %}</a>
        {% elif audit.state == 'ACTIVE' and start_instance == 0%}
            <a href="{% url 'change_audit_state' audit.id %}?page={{ pageb }}" class="btn btn-default" role="button">
            {% trans 'Change state to Finished' %}</a>
        {% elif audit.state == 'FINISH' %}
            <a href="{% url 'change_audit_state' audit.id %}?page={{ pageb }}" class="btn btn-default" role="button">
            {% trans 'Eliminate' %}</a>
        {% endif %}
        <a href="{% url 'list_my_audits' %}?page={{ pageb }}" class="btn btn-default" role="button">
        {% trans 'Back' %}</a>
    </div>
    {% endif %}
    {% if perms.auth.user %}
        <div class="text-center"><a href="{% url 'user_audits' %}?page={{ pageb }}" class="btn btn-default" role="button">
        {% trans 'Back' %}</a></div>
    {% endif %}
    {% if perms.auth.auditor %}
        <div class="text-center"><a href="{% url 'auditor_audits' %}?page={{ pageb }}" class="btn btn-default" role="button">
        {% trans 'Back' %}</a></div>
    {% endif %}
{% endblock %}