{% load i18n %}
{% load filters %}
<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <title>{% block titulo %}{% endblock %}</title>
  {% block style_css %}{% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <link rel="stylesheet" href="/static/css/custom.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="/static/js/js.cookie.js"></script>
  <script src="/static/js/custom_ca.js"></script>
  {% block script_import %}{% endblock %}
     <script type="text/javascript">

      $(document).ready(function(){
        $('#es').click(function() {
            Cookies.set('django_language','es',{path: '/'});
            document.location.href = document.location.href;
            return false;
        });

        $('#en').click(function() {
            Cookies.set('django_language','en',{path: '/'});
            document.location.href = document.location.href;
            return false;
        });

          if(Cookies.get('django_language') == 'en'){
              $('#en').css('background-color','grey');
          }else{
               $('#es').css('background-color','grey');
               Cookies.set('django_language','es',{path: '/'});
          }
          {% block scripts %}{% endblock %}
      });

      </script>
</head>
<body>
<div class="container">
    <noscript>
      <p>Bienvenido a Mi Sitio</p>
      <p>La página que estás viendo requiere para su funcionamiento el uso de JavaScript.
    Si lo has deshabilitado intencionadamente, por favor vuelve a activarlo.</p>
    </noscript>
  <header>
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			      <span class="sr-only">Desplegar navegación</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
    		 </button>
		    <a class="navbar-brand" href="{% url 'index' %}"><span class="glyphicon glyphicon-align-justify"></span></a>
 		</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
                {% if user and perms.auth.gestor %}
                    <li><a href="{% url 'list_my_audits' %}">{% trans "Audits" %}</a></li>
                    <li><a href="{% url 'list_tags_tree' %}">{% trans "Tags" %}</a></li>
                {% endif %}
            {% if user and perms.auth.user %}
                    <li><a href="{% url 'user_audits' %}">{% trans "Audits" %}</a></li>
                {% endif %}
            {% if user and perms.auth.auditor %}
                    <li><a href="{% url 'auditor_audits' %}">{% trans "Audits" %}</a></li>
                {% endif %}
            {% if user.is_authenticated and not perms.auth.auditor and not perms.auth.gestor and not perms.auth.user %}
                    <li><a href="{% url 'user_perms' %}">{% trans "Choose your role" %}</a></li>
            {% endif %}
            {% if user.is_authenticated and not user|is_sync %}
                    <li><a href="{% url 'sync' %}">{% trans "Sync with calendar" %}</a></li>
            {% endif %}
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			         {% trans "Language"%}<b class="caret"></b>
			        </a>
			        <ul class="dropdown-menu">
			          <li><a href="es" id="es">{% trans "Spanish" %}</a></li>
                        <li><a href="en" id="en">{% trans "English" %}</a></li>
			        </ul>
                </li>
		    	{% if user.is_authenticated %}
                     <p class="navbar-text">{% trans 'Welcome' %} {{user.first_name}}</p>
                     <li><a href="{% url 'logout' %}">{% trans "Log Out" %}</a></li>
		    	{% else %}
                     <li><a href="{% url 'create_user' %}">{% trans "Sign up" %}</a></li>
                     <li><a href="{% url 'login' %}">{% trans "Log In" %}</a></li>
                {% endif %}
		    </ul>
		</div>
	</nav>
  </header>
	{% block contenido %}{% endblock %}
</div>
</body>
<footer class="footer">
  <div class="container">
    <p class="text-muted">{% trans 'Welcome to Audits' %}</p>
  </div>
</footer>
</html>