{% extends "index.html" %}
{% load i18n %}
{% load mptt_tags %}
{% block titulo %} {%  trans "Tags Tree" %} {% endblock %}
{% block style_css %}
    <style>
    li{
        list-style-type: none;
        cursor: pointer;
    }

    .father:before{
        font-family: "Glyphicons Halflings";
        content: "\e158";
    }

    p.no-after:after{content:"";}
</style>
{% endblock %}
{% block script_import %}<script type="application/javascript" src="/static/js/ajax_csrf.js"></script>{% endblock %}
{% block scripts %}
    $(document).ready(function(){
        tree_js();
    });
{% endblock%}

{% block contenido %}
    <div class="page-header"><h1>{%  trans "Tags Tree" %}</h1></div>
    <ul>
    {% recursetree tags %}
        <li {% if not node.is_leaf_node %}class="father"{% else %}class="children"{% endif %}>
            {{ node.name }}({{ node.weight }})&nbsp;<a id="stop" href="{% url 'list_tag_items' node.id %}">{% trans "View Items"%}</a>&nbsp;
            {% if user == node.create_user %}
                <a class="normal-link" href="{% url 'edit_tag' node.id %}">
                    <span class="glyphicon glyphicon-pencil"></span></a>&nbsp;
                <a class="normal-link delete-link" href="" name="{{ node.id }}">
                    <span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
    <div class="col-lg-12 text-center"><a href="{% url 'create_tag'%}" class="btn btn-primary" role="button">
        {% trans 'Create Tag' %}</a></div>
{% endblock %}