{% extends "index.html" %}
{% load i18n %}
{% block scripts %}
    $("a").css('cursor','pointer');
    {% if okMessage %}
        alert('{% trans "File created succesfully" %}')
    {% elif not form.is_valid and request.method == 'POST'%}
        $("#myModalForm").modal('show');
    {% endif %}
{% endblock %}
{% block style_css %}<link rel="stylesheet" type="text/css" href="/static/css/custom.css">{% endblock %}
{% block titulo %} {%  trans "Item's details" %} {% endblock %}

{% block contenido %}
    <div class="page-header"><h1>{%  trans "Item's details" %} &nbsp;
        <a class="normal-link" href="{% url 'edit_item' item.id %}">
    <span class="glyphicon glyphicon-pencil header-gli"></span></a>
    &nbsp;<a class="normal-link" href="{% url 'delete_item' item.id %}">
        <span class="glyphicon glyphicon-remove header-gli"></span></a></h1></div>

    <fieldset class="scheduler-border">
    <legend class="scheduler-border">{% trans "Basic Properties" %}</legend>
        <div class="col-lg-12"><label class="col-lg-6 text-right">{% trans "Name" %}:</label> {{ item.name|safe }}</div>
        <div class="col-lg-12"><label class="col-lg-6 text-right">{% trans "Question" %}:</label> {{ item.question|safe }}</div>
        <div class="col-lg-12"><label class="col-lg-6 text-right">{% trans "Tag" %}:</label> {{ item.tag|safe }}</div>
        <div class="col-lg-12"><label class="col-lg-6 text-right">{% trans "Url" %}:</label> {{ item.url|safe|default:'-' }}</div>
    </fieldset>

    <fieldset class="scheduler-border">
    <legend class="scheduler-border">{% trans "Attached Files" %}&nbsp;
        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModalForm">
            {% trans "New File"%}</button></legend>

    {% for files in item.document_set.all %}
       <div class="glyphicon glyphicon-book col-lg-12 text-center">{{ files.filename }}&nbsp;
           <a href="{% url 'delete_document' files.id %}">x</a></div>
            {% empty %}
            <div class="col-lg-12 text-center">{% trans "No Files attached" %}</div>
        {% endfor %}
    </fieldset>

    <fieldset class="scheduler-border">
    <legend class="scheduler-border">{% trans "Answers" %}&nbsp;
        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModalFormAnswer">
            {% trans "New Answer"%}</button></legend>

    {% for answer in item.answer_set.all %}
      <div class="col-lg-12 text-center">{{ answer }}&nbsp; <a class="normal-link" href="{% url 'edit_answer' answer.id %}">
    <span class="glyphicon glyphicon-pencil"></span></a>
    &nbsp;<a class="normal-link" href="{% url 'delete_answer' answer.id %}">
        <span class="glyphicon glyphicon-remove"></span></a></div>
            {% empty %}
             <div class="col-lg-12 text-center">{% trans "No Answers" %}</div>
        {% endfor %}
    </fieldset>

    <div class="col-lg-12 text-center">
        <a href="{% url 'list_tag_items' item.tag_id%}?page={{ page }}" class="btn btn-default" role="button">
        {% trans 'Back' %}</a>
    </div>

    <div class="modal fade" id="myModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">{% trans "Create new file" %}</div>
          <div class="modal-body">
          <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
              {% csrf_token %}
              {% for field in form %}
                <div class="form-group">
        <label class="col-lg-6 control-label" for="{{ field.name }}">{{ field.label}}:</label>
            <div class="col-lg-6">
            {{ field }}
            </div>
        {% if field.errors %}
            <br>
            <div class="alert alert-danger"><strong>{{field.errors|escape}}</strong></div>
        {% endif %}
        </div>
              {% endfor %}
              <input type="submit" value="Crear"/>
          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="myModalFormAnswer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">{% trans "Create new Answer" %}</div>
          <div class="modal-body">
          <form  class="form-horizontal" method="post" action="{% url 'create_answer' item.id%}">
              {% csrf_token %}
              {% for field in formA %}
                <div class="form-group">
        <label class="col-lg-6 control-label" for="{{ field.name }}">{{ field.label}}:</label>
            <div class="col-lg-6">
            {{ field }}
            </div>
        {% if field.errors %}
            <br>
            <div class="alert alert-danger"><strong>{{field.errors|escape}}</strong></div>
        {% endif %}
        </div>
              {% endfor %}
              <input type="submit" value="Crear"/>
          </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
          </div>
        </div>
      </div>
    </div>
    <br>
{% endblock %}