{% extends 'list.html' %}
{% load i18n %}
{% block titulo %}{% trans "List Items" %}{% endblock %}
{% block encabezado %}
    <div class="page-header">
        <h1>{% trans "Item's List of tag: " %} {{ tag.name }}</h1></div>
{% endblock %}
{% block heading %}{{ element.name }}&nbsp;<a href="{% url "item_details" element.id %}?page={{ element_page.number }}"
                                              class="normal-link"><span class="glyphicon glyphicon-eye-open"></span></a>
{% endblock %}
{% block body %}
    <li>{% trans "Question" %}: {{ element.question }}</li>
    <li>{% trans "Url" %}: {{ element.url|default:"-"}}</li>
    <li>{% trans "Obligatory" %}: {{ element.obligatory|lower|capfirst|safe }}</li>
{% endblock %}
{% block no_found %}{% trans "There are not items" %}{% endblock %}
{% block boton %}
        {% if tag.create_user == user %}
            <a href="{% url 'create_item' tag.id %}?page={{ element_page.number }}" class="btn btn-primary" role="button">
            {% trans 'Create Item' %}</a>
        {% endif %}
        <a href="{% url 'list_tags_tree'%}" class="btn btn-default" role="button">
        {% trans 'Back' %}</a>
{% endblock %}